@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap');

body {
font-family: 'Dosis', sans-serif;
font-family: 'Homemade Apple', cursive;
}

.App {
  text-align: center;
}

