@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap');

.SocialPosts{
    width: 50%;
    border: 1px solid gray;
    background: #f3f1f7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    padding: 15px;
}
h1 {
    font-family: 'Homemade Apple', cursive;
    font-size: bold;
    color: #03a9f4
}

.newThought {
    display: inline-block;
    background-color: #03a9f4;
    border-radius: 5px;
    border: .5px double #f3f1f7;
    color: #f3f1f7;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 15px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.SocialPosts__container {
    font-family: 'Dosis', sans-serif;
}

.SocialPosts__posts {
    padding: 5px;
    font-family: 'Awesome or Material Icons';
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(100, 98, 98);
    
}